@using BusinessWeb.Controllers.API
<div class="header">
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <img id="logo-header" src="~/assets/img/logo1-default.png" alt="Logo" />
            </a>
        </div>
        <!-- /logo -->
        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul class="nav top-2" id="main-nav-menu">
                        <li @*class="active"*@ id="main-menu-index">
                            <a href="@Url.Action("Index","Home")">
                                首页
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li id="main-menu-service">
                            <a href="@Url.Action("Index","Services")">
                                服务
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li id="main-menu-products">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                产品
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="feature_grid.html">蔬果</a></li>
                                <li><a href="feature_typography.html">有机农副产品</a></li>
                                <li><a href="feature_thumbnail.html">粮油</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li id="main-menu-orders">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                我的订单
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="feature_grid.html">待配送订单</a></li>
                                <li><a href="feature_typography.html">历史订单</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li id="main-menu-service">
                            <a href="@Url.Action("Index","News")">
                                新闻动态
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li id="main-menu-about">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                关于
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","About")">关于我们</a></li>
                                <li><a href="@Url.Action("Contact","About")">联系我们</a></li>
                                <li><a href="@Url.Action("Help","About")">帮助</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>

                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                        <li><a class="cart"><i class="icon-shopping-cart icon-3  shopping-btn"></i>查看已选产品<b></b></a></li>
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form method="POST" target="_blank" action="@Url.Action("SearchResult","Home")">
                                <input type="text" class="span3" placeholder="产品关键字" />
                                <button type="submit" class="btn-u">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /nav-collapse -->
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
    </div>
    <!-- /container -->
</div>
