@model DefaultConnection.Corporation
@{
    Layout = null;

}
<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>企业注册 |外勤通-外勤员工定位管理软件|免费手机考勤|移动考勤管理|员工定位管理考勤|业务员轨迹定位</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/Register/style_text.css" />
    <link href="~/BackAssets/messenger/css/messenger.css" rel="stylesheet" />
    <link href="~/BackAssets/messenger/css/messenger-theme-future.css" rel="stylesheet" />
    <link href="~/Assets/RegisterCorp.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header_warp">
            <div class="header">
                <div id="head" class="mainBlockSize">
                    <div class="title">外勤通</div>
                    <div class="title2">
                        <div class="plateName">综合业务平台</div>
                        <div class="url"> huaweisoft.com </div>
                    </div>
                    <div class="fl title3">
                        <span class="slogan">智慧管理  智能办公</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="lightbox h200 pencil_bg">
        </div>
        <div class="main">
            <div class="section">

                <div class="box">
                    <div class="content" style="height:auto; ">
                        @if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
                        {
                            <div style="padding:20px 10px;font-size:24px;font-weight:600;color:green">注册成功</div>
                            <div style="padding:20px 10px;font-size:24px;font-weight:600;color:green">记住您的企业码为:@ViewBag.Code</div>
                            <div style="padding:20px 10px;font-size:24px;font-weight:600;color:green"><a style="text-decoration:underline" href="@Url.Action("Index", "Authorize")">返回登录页</a></div>
                        }
                        else
                        {
                            <div style="padding:20px 10px;font-size:24px;font-weight:600">企业注册</div>

                            <form action="@Url.Action("Register", "Corporation")" method="post" id="regForm">
                                <ul class="regform">
                                    @if (ViewBag.Error != null)
                                    {
                                        <li><span style="color:red">注册错误:@ViewBag.Error</span></li>
                                    }
                                    <li><span class="input-info">公司名称:</span><input name="Name" id="Name" class="required" value="@Model.Name" /><span>祝您生意兴隆：)</span></li>
                                    <li><span class="input-info">企业代码:</span><input name="Code" id="Code" class="required" value="@Model.Code" /><span>用于标志企业身份,中文、英文字母、数字都行</span></li>

                                    <li><span class="input-info">账号名：</span><input name="AdminName" id="AdminName" class="required" value="@ViewBag.AdminName" /><span style="margin-left:12px;">用来登录及管理系统</span></li>
                                    <li><span class="input-info">登录密码：</span><input type="password" name="AdminPassword" id="Password" class="required placeholder" /><span style="margin-left:12px;">登录系统的密码</span></li>
                                    <li>
                                        <span class="input-info">密码确认：</span><input type="password" name="PasswordConfirm" id="PasswordConfirm" class="required placeholder corresponding:AdminPassword" /><span style="margin-left:12px;">确认密码输入一致</span>
                                    </li>

                                    <li><span class="input-info">您的姓名：</span><input name="RealName" value="@ViewBag.RealName" id="RealName" class="required" /><span>很高兴认识您！</span></li>
                                    <li>
                                        <span class="input-info">企业地址：</span><input name="Address" id="Address" class="required" value="@Model.Address" /><span>不要问我从哪里来</span>
                                    </li>
                                    <li><span class="input-info">联系手机：</span><input name="Phone" id="Phone" class="required" value="@Model.Phone" /><span style="margin-left:12px;">用来重置密码</span></li>
                                    <li><span class="input-info">备注留言：</span><textarea rows="3" name="Remark" id="Remark">@Model.Remark</textarea><span style="margin-left:12px;">您的大概需求?</span></li>
                                </ul>
                                <div class="reg_submit">
                                    <input type="submit" class="regbutton" style="*padding-left:20px;*padding-right:20px;*margin-left:240px;*vertical-algin:10px;*border:0px;" value="注 册" />
                                    <input type="reset" class="regbutton" style="*padding-left:20px;*padding-right:20px;*margin-left:240px;*vertical-algin:10px;*border:0px;" value="重 置" />

                                </div>
                            </form>
                        }
                        <div style="clear:both"></div>
                    </div>
                </div>
                <div style=" clear:both"></div>
            </div>

            <div class="section">
                <div class="box">
                    <div class="content">
                        <div class="index_intro">
                            外勤通企业位置信息管理系统让企业可进行外勤人员管理，业务员定位，销售人员定位，外勤人员定位；可以通过手机考勤打卡、拍照上传等现场终端门店数据采集；
                            通过对外勤人员考勤，可助力员工的业绩、企业的运营效益提升；是一款最佳的外勤人员管理软件。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        ﻿<div class="footer">
            <div class="footer_inner">
                <div class="relevance">
                    <p>产品相关：<a href="###">外勤人员管理</a> | <a href="###">外勤人员定位管理</a> |<a href="###">销售人员定位管理</a> | <a href="###">外勤人员考勤管</a> | <a href="###">业务员定位管理</a> | <a href="###">销售人员管理软件管理</a></p>
                    <span>Copyright © 2012-2014 <a href="###about.html">XXX有限公司</a> [ <a href="####" target="_blank">服务</a> ]&nbsp;<a href="###sitemap.html">网站地图</a></span>
                </div>
                <div id="footContainer" class="mainBlockSize">
                    <div class="title">外勤通</div>
                    <div class="title2">
                        <div class="plateName">综合业务平台</div>
                        <div class="url"> huaweisoft.com </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Assets/Register/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Assets/Register/jquery.lavalamp.min.js"></script>
    @*<script src="~/Scripts/jQuery.validVal/js/jquery.validVal.js"></script>*@
    <script src="~/Scripts/jQuery.validVal/js/jquery.validVal.min.js"></script>
    <!-- inline scripts related to this page -->
    <script src="~/BackAssets/messenger/js/messenger.js"></script>
    <script src="~/BackAssets/messenger/js/messenger-theme-future.js"></script>
    <script src="~/Scripts/Common.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#menu").lavaLamp({
                fx: "easeOutBack",
                speed: 700
            });
            $("#regForm").validVal({ language: "cn" });
        });

    </script>
</body>
</html>