<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@RenderSection("title", false) @ViewBag.Title -后台管理</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  <!-- shortcut icon -->
    <link rel="shortcut icon" href="~/backfavicon.ico" />

    <!-- basic styles -->
    <link href='@Url.Content("~/BackAssets/css/bootstrap.min.css")' rel="stylesheet" />
    <link rel="stylesheet" href='@Url.Content("~/BackAssets/css/font-awesome.min.css")' />

    <link rel="stylesheet" href="~/BackAssets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="~/BackAssets/css/jquery.gritter.css" />

    <!--[if IE 7]>
          <link rel="stylesheet" href='@Url.Content("~/BackAssets/css/font-awesome-ie7.min.css")' />
        <![endif]-->
    <!-- page specific plugin styles -->
    <!-- ace styles -->
    <link rel="stylesheet" href='@Url.Content("~/BackAssets/css/ace.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/BackAssets/css/ace-rtl.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/BackAssets/css/ace-skins.min.css")' />

    <!--[if lte IE 8]>
          <link rel="stylesheet" href='@Url.Content("~/BackAssets/css/ace-ie.min.css")' />
        <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->

    <script src='@Url.Content("~/BackAssets/js/ace-extra.min.js")'></script>
    <link href="~/Scripts/Jquery-mask-1.0.0/jquery.mask.css" rel="stylesheet" />

    <link href="~/BackAssets/messenger/css/messenger.css" rel="stylesheet" />
    <link href="~/BackAssets/messenger/css/messenger-theme-future.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src='@Url.Content("~/BackAssets/js/html5shiv.js")'></script>
        <script src='@Url.Content("~/BackAssets/js/respond.min.js")'></script>
    <![endif]-->
    <!-- 自定义通用样式-->
    <link href="~/Content/Common.css" rel="stylesheet" />

    @RenderSection("Header", false)

</head>
<body>

    <div class=" navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="icon-leaf"></i>
                        餐饮后台管理
                    </small>
                </a>
                <!-- /.brand -->
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="grey">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-tasks"></i>
                                <span class="badge badge-grey">4</span>
                            </a>

                            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="icon-ok"></i>
                                    4 Tasks to complete
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Software Update</span>
                                            <span class="pull-right">65%</span>
                                        </div>

                                        <div class="progress progress-mini ">
                                            <div style="width: 65%" class="progress-bar "></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Hardware Upgrade</span>
                                            <span class="pull-right">35%</span>
                                        </div>

                                        <div class="progress progress-mini ">
                                            <div style="width: 35%" class="progress-bar progress-bar-danger"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Unit Testing</span>
                                            <span class="pull-right">15%</span>
                                        </div>

                                        <div class="progress progress-mini ">
                                            <div style="width: 15%" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Bug Fixes</span>
                                            <span class="pull-right">90%</span>
                                        </div>

                                        <div class="progress progress-mini progress-striped active">
                                            <div style="width: 90%" class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        See tasks with details
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="purple">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-bell-alt icon-animated-bell"></i>
                                <span class="badge badge-important">8</span>
                            </a>

                            <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="icon-warning-sign"></i>
                                    8 Notifications
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                                                New Comments
                                            </span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="btn btn-xs btn-primary icon-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                                                New Orders
                                            </span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                                                Followers
                                            </span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        See all notifications
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="green">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">5</span>
                            </a>

                            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="icon-envelope-alt"></i>
                                    5 Messages
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="~/BackAssets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Alex:</span>
                                                Ciao sociis natoque penatibus et auctor ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="icon-time"></i>
                                                <span>a moment ago</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="~/BackAssets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Susan:</span>
                                                Vestibulum id ligula porta felis euismod ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="icon-time"></i>
                                                <span>20 minutes ago</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="~/BackAssets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Bob:</span>
                                                Nullam quis risus eget urna mollis ornare ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="icon-time"></i>
                                                <span>3:15 pm</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="inbox.html">
                                        See all messages
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/BackAssets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>欢迎,</small>
                                @if (Request.Cookies.AllKeys.Contains("adminname"))
                                {
                                    @Request.Cookies["adminname"].Value
                                }
                            </span>

                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    设置
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon-user"></i>
                                    个人信息
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@Url.Action("Logout", "Authorize", new { Area = "Back" })" id="btnLogOut">
                                    <i class="icon-off"></i>
                                    注销
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            @Html.Partial("Menu")
            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i><a href='@Url.Action("Index", "BackHome",new {Area="Back"})'>主页</a> <span class="divider"><i class="icon-angle-right arrow-icon"></i></span>
                        </li>
                        @RenderSection("breadcrumb", false)
                    </ul>

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>
                    <!-- #nav-search -->
                </div>

                <div class="page-content">
                    @*   <div class="page-header">
                            <h1>Dashboard
                                    <small>
                                        <i class="icon-double-angle-right"></i>
                                        overview &amp; stats
                                    </small>
                            </h1>
                        </div>
                    *@
                    <!-- /.page-header -->
                    @RenderBody()
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
            <!-- /.main-content -->

        </div>
        <!-- /.main-container-inner -->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>
    <!-- /.main-container -->
    <!--后台系统模块定义 -->
    <script src="~/Scripts/Modules.js"></script>

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/BackAssets/js/jquery-2.0.3.min.js"></script>

    <![endif]-->
    <!--[if IE]>
            <script src="~/BackAssets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/BackAssets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/BackAssets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='~/BackAssets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src='@Url.Content("~/BackAssets/js/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/typeahead-bs2.min.js")'></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
          <script src='@Url.Content("~/BackAssets/js/excanvas.min.js")'></script>
        <![endif]-->
    <script src="~/Scripts/Jquery-mask-1.0.0/jquery.mask.src.js"></script>

    <script src='@Url.Content("~/BackAssets/js/jquery-ui-1.10.3.custom.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/jquery.ui.touch-punch.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/jquery.slimscroll.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/jquery.easy-pie-chart.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/jquery.sparkline.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/flot/jquery.flot.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/flot/jquery.flot.pie.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/flot/jquery.flot.resize.min.js")'></script>

    <!-- ace scripts -->

    <script src='@Url.Content("~/BackAssets/js/ace-elements.min.js")'></script>
    <script src='@Url.Content("~/BackAssets/js/ace.min.js")'></script>

    <!-- inline scripts related to this page -->
    <script src="~/BackAssets/messenger/js/messenger.js"></script>
    <script src="~/BackAssets/messenger/js/messenger-theme-future.js"></script>
    <script src="~/Scripts/Common.js"></script>

    <!-- 注销功能 -->
    <script src="~/Areas/Back/JS/Authentication.js"></script>
    <script src="~/assets/plugins/jquery.cookie.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            //页面上方按钮处理

            //注销功能
            $("#btnLogOut").click(function () {
                layout.logOut();
            });

            $('#recent-box [data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('.tab-content');
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }


            $('.dialogs,.comments').slimScroll({
                height: '300px'
            });

            //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
            //so disable dragging when clicking on label
            var agent = navigator.userAgent.toLowerCase();
            if ("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
                $('#tasks').on('touchstart', function (e) {
                    var li = $(e.target).closest('#tasks li');
                    if (li.length == 0) return;
                    var label = li.find('label.inline').get(0);
                    if (label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation();
                });

            $('#tasks').sortable({
                opacity: 0.8,
                revert: true,
                forceHelperSize: true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize: true,
                tolerance: 'pointer',
                stop: function (event, ui) {//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
                    $(ui.item).css('z-index', 'auto');
                }
            }
            );
            $('#tasks').disableSelection();
            $('#tasks input:checkbox').removeAttr('checked').on('click', function () {
                if (this.checked) $(this).closest('li').addClass('selected');
                else $(this).closest('li').removeClass('selected');
            });
        })

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
