<div id="dlgMain" style="width: 700px; height: 550px; display: none; padding-top: 5px">
    <form id="fm" style="margin: 0px auto;">
        @{
            var width = 220;
            var easyWidth = 222;
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th>
                    编号[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <input name="Code" type="text" id="Code" maxlength="50" class="txt" datacol="yes" err="编号" checkexpession="NotNull" style="width: @(width)px" />
                </td>
                <th>
                    登录账户[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <input name="Account" type="text" id="Account" maxlength="50" class="txt" datacol="yes" err="登录账户" checkexpession="NotNull" style="width: @(width)px" />
                </td>
            </tr>
            <tr>
                <th>
                    姓名[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <input name="RealName" type="text" id="RealName" maxlength="50" class="txt" datacol="yes" err="姓名" checkexpession="NotNull" style="width: @(width)px" />
                </td>
                <th>
                    登录密码[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <input name="Password" type="password" id="Password" maxlength="50" class="txt" datacol="yes" err="登录密码" checkexpession="NotNull" style="width: @(width)px" />
                </td>
            </tr>
            <tr>
                <th>
                    性别[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <select name="Gender" id="Gender" class="select" style="width: @(easyWidth)px">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </td>
                <th>手机：</th>
                <td>
                    <input name="Mobile" type="text" id="Mobile" maxlength="11" class="txt" datacol="yes" err="手机" checkexpession="MobileOrNull" style="width: @(width)px" />
                </td>
            </tr>
            <tr>
                <th>
                    出生日期：
                </th>
                <td>
                    <input name="Birthday" type="text" id="Birthday" maxlength="23" onfocus="WdatePicker()" class="txt" style="width: @(width)px" />
                </td>
                <th>
                    电话：
                </th>
                <td>
                    <input name="Telephone" type="text" id="Telephone" maxlength="50" class="txt" datacol="yes" err="电话" checkexpession="PhoneOrNull" style="width: @(width)px" />
                </td>
            </tr>
            <tr>
                <th>
                    职位：
                </th>
                <td>
                    <select name="DutyId" id="DutyId" class="select" style="width: @(easyWidth)px">
                        <option value="">==请选择==</option>
                        <option value="1">工程师</option>
                        <option value="2">助理工程师</option>
                        <option value="3">技术员</option>
                        <option value="4">总经理</option>
                        <option value="5">主管</option>
                        <option value="6">副主管</option>
                        <option value="7">董事长</option>
                        <option value="8">副董事长</option>
                    </select>
                </td>
                <th>
                    QQ号码：
                </th>
                <td>
                    <input name="OICQ" type="text" id="OICQ" maxlength="50" class="txt" style="width: @(width)px" />
                </td>
            </tr>
            <tr>
                <th>
                    职称：
                </th>
                <td>
                    <select name="TitleId" id="TitleId" class="select" style="width: @(easyWidth)px">
                        <option value="">==请选择==</option>
                        <option value="1">会计专业</option>
                        <option value="2">经济专业</option>
                        <option value="3">工程技术</option>
                        <option value="4">实验技术人员</option>
                        <option value="5">软件工程师</option>
                        <option value="6">系统工程师</option>
                    </select>
                </td>

                <th>
                    电子邮件：
                </th>
                <td>
                    <input name="Email" type="text" id="Email" maxlength="50" class="txt" style="width: @(width)px" />
                </td>
            </tr>
            <tr>

                <th>
                    公司[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <select name="CompanyId" id="CompanyId" onchange="CompanyClick(this.id)" datacol="yes" err="公司" checkexpession="NotNull" class="select" style="width: @(easyWidth)px"></select>
                </td>
                <th>
                    默认角色[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <select name="RoleId" id="RoleId" class="select" datacol="yes" err="默认角色" checkexpession="NotNull" style="width: @(easyWidth)px"></select>
                </td>
            </tr>
            <tr>
                <th>
                    部门名称[<span class="label-necessary">*</span>]：
                </th>
                <td>
                    <select name="DepartmentId" id="DepartmentId" onchange="DepartmentClick(this.id)" datacol="yes" err="部门名称" checkexpession="NotNull" class="select" style="width: @(easyWidth)px"></select>
                </td>
                <th>
                    工作组名称：
                </th>
                <td>
                    <select name="WorkgroupId" id="WorkgroupId" class="select" style="width: @(easyWidth)px"></select>
                </td>
            </tr>
            <tr>
                <th>
                    有效性：
                </th>
                <td colspan="3">
                    <span class="item">
                        <input name="Enabled" type="checkbox" id="Enabled" checked="checked" style="vertical-align: middle;" />
                        <label for="Enabled" style="vertical-align: middle;">有效</label>
                        &nbsp;&nbsp;
                    </span>
                    <label style="vertical-align: middle; color: red;">注意：禁用该用户后，将不能登录。</label>
                </td>
            </tr>
            <tr>
                <th>
                    说明：
                </th>
                <td colspan="3">
                    <textarea name="Description" id="Description" maxlength="200" class="txtArea" type="text" rows="7" style="width: 562px"></textarea>
                </td>
            </tr>
        </table>

        <input type="hidden" id="Id" name="Id" value="0" />
    </form>
</div>