@using BusinessWeb.Areas.Back.Models
@using BusinessWeb.Controllers.API
<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'fixed');
        } catch (e) {
        }
    </script>
    @{
        var plugs = PlugParser.Parser();
        var rootPath = "http://" + Request.Url.Authority;
    }
    <!--#sidebar-shortcuts-->
    <ul class="nav nav-list">
        <li><a href="@Url.Action("Index","BackHome")"><i class="icon-dashboard"></i><span class="top-menu-text">主面板
                                                                         </span></a></li>
        @foreach( var plug in plugs)
        {

        <li class=""><a href="@(string.IsNullOrEmpty(plug.PlugUrl)?"javascript:;":(rootPath+plug.PlugUrl))" class="dropdown-toggle"><i class="@plug.ImageClass"></i><span class="top-menu-text">@plug.PlugName</span><b class="arrow icon-angle-down"></b></a>
           
            @if(plug.Children!=null&&plug.Children.Count>0)
            {
               
             <ul class="submenu">
               @foreach(var secondPlug in plug.Children)
               {  
                <li id="li_menu_@secondPlug.PlugCode"><a href="@(rootPath+secondPlug.PlugUrl)"><i class="icon-double-angle-right"></i><i class="@secondPlug.ImageClass"></i>@secondPlug.PlugName</a> </li>
               }

             </ul>
            }
        </li>
        }

    </ul>
    <!--/.nav-list-->
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'collapsed');
        } catch (e) {
        }
    </script>
</div>