@{
    ViewBag.Title = "登录";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 外勤通综合业务平台</title>
    <link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Jquery-mask-1.0.0/jquery.mask.css" rel="stylesheet" />
    <link href="~/BackAssets/messenger/css/messenger.css" rel="stylesheet" />
    <link href="~/BackAssets/messenger/css/messenger-theme-future.css" rel="stylesheet" />
</head>
<body>
    <div id="mainConent">
        <div id="head" class="mainBlockSize">
            <div class="title">外勤通</div>
            <div class="title2">
                <div class="plateName">综合业务平台</div>
                <div class="url"> huaweisoft.com </div>
            </div>
            <div class="fl title3">
                <span class="slogan">智慧管理  智能办公</span>
            </div>
        </div>
        <div id="center">
            <div class="bgall"></div>
            <div class="bgpic mainBlockSize">
                <div class="loginBlock"></div>
                <div class="loginForm">
                    <div class="title">登录外勤通业务平台</div>
                    <div class="lable">企业码：</div>
                    <div>
                        <input id="txtCode" type="text" value="" />
                    </div>
                    <div class="lable">用户名：</div>
                    <div>
                        <input id="txtUserName" type="text" value="" />
                    </div>
                    <div class="lable">密码：</div>
                    <div>
                        <input id="txtPwd" type="password" value="" />
                    </div>
                    <div class="lable">验证码：</div>
                    <div>
                        <input id="txtValidateCode" type="text" />
                        <img id="imgValidateCode" class="imgValidateCode cp" alt="点击刷新验证码！" title="点击刷新验证码！" src="/Authorize/ValidateCode" ; />
                        <div class="clear"></div>
                    </div>
                    <button id="btnLogin" type="button">登   录</button>
                    <div>
                        <span class="fl"><input id="chkRememberMe" type="checkbox" /><span class="gayword">记住密码</span></span>
                        <span style="padding-left:10px">没有账号？<a class="gayword" href="@Url.Action("Register", "Corporation")">注册</a></span>
                        <span><a class="gayword fr forgetPwd" href="javascript:void(0);">忘记密码了？</a></span>
                    </div>
                </div>
                <div class="themeCtrl">
                    <a id="prevTheme" href="javascript:void(0);"></a>
                    <a id="nextTheme" href="javascript:void(0);"></a>
                </div>
            </div>
        </div>
        <div id="footer" class="mainBlockSize">
            <div class="ftlogo">
                <div class="name1">智能办公</div>
                <div class="name2">综合业务平台</div>
            </div>
            <div class="ftnav">
                <a>关于华为明天</a>
                <a>关于外勤通</a>
                <a href="@Url.Action("Register", "Corporation")">企业注册</a>
                <a href="@Url.Action("Dashboard", "Platform", new { area="Back"})" target="_blank">平台后台管理入口</a>
                <a>联系我们</a>
                <a>隐私政策</a>|
                <span class="copyright">华为明天软件有限公司版权所有 © @DateTime.Now.Year</span>
            </div>
        </div>
    </div>
    @{
        var rootPath = "http://" + Request.Url.Authority;
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/json2.js" type="text/javascript"></script>

    <script src="~/Scripts/Jquery-mask-1.0.0/jquery.mask.src.js"></script>
    <script src="~/BackAssets/messenger/js/messenger.js"></script>
    <script src="~/BackAssets/messenger/js/messenger-theme-future.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/JS/Login.js" type="text/javascript"></script>
    <script type="text/javascript">
        var rootPath = '@rootPath';
        var returnUrl = '@ViewBag.Url';
        $(function () {
            PlugFunctions.Login.init();
        });
    </script>
</body>
</html>